.hamburgerMenu {
    background-color: var(--background-light);
    color: var(--text-secondary-black);
    position: relative;
    padding: 10px 30px;
    z-index: 10;

    img {
      width: 25px;
      height: 25px;
      transition: transform 0.3s ease-in-out;
    }
  
    .hamburger {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 5px;
      z-index: 100;
      position: relative;
  
      span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
  
        &:nth-child(1) {
          transform-origin: top left;
        }
        &:nth-child(3) {
          transform-origin: bottom left;
        }
      }
  
      &.open {
        background-image: url('/icon/more.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.close {
        background-image: url('/icon/more.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 73vh;
      background-color: var(--background-light);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin: 10px 0;
  
          a {
            text-decoration: none;
            color: #333;
            font-size: 1.5rem;
            transition: color 0.3s;
  
            &:hover {
              color: #ff6600;
            }
          }
        }
      }
  
      &.show {
        transform: translateX(0);
      }
    }
  }
  