.container {
    margin: 0 5rem 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__content_left{
      display: flex;
      justify-content: center;
      align-items: center;

      &__box{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        height: 100%;
        gap: 1rem;

        h1 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1rem;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 50%;
          height: 50px;
          background-color: #ffffff;
          border-radius: 2rem;
          border: 1px  solid var(--background-light);;
          img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
          span {
            font-size: 14px;
          }
        }

        button:hover {
          background-color: var(--background-light);
        }


        div {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 50%;
          height: 50px;
          img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
        }
      }
    }

    &__content_rigth {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &::before {
          content: "";
          position: absolute;
          width: 40%; // Ajusta el grosor de la barra
          height: 100%;
          background-color: var(--background-light);;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
        }
      
        img {
          position: relative;
          z-index: 2; // Para que la imagen esté encima de la barra
          max-width: 200%;
          height: auto;
          animation: spin 5s linear infinite; /* Animación continua */
        }
      }
  }
  
  
  /* Pantallas pequeñas (hasta 768px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &__content_left{
        &__box{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
  
          h1 {
            font-size: 1.8rem;
          }
          p {
            font-size: 1rem;
          }
          button {
           
            img {
              width: 24px;
              height: 24px;
              margin-right: 8px;
            }
            span {
              font-size: 14px;
            }
          }
  

          div {
            width: 50%;
            height: 50px;
            img {
              width: 24px;
              height: 24px;
              margin-right: 8px;
            }
          }
        }
      }

      &__content_rigth {
          &::before {
            content: "";
            position: absolute;
            width: 40%; // Ajusta el grosor de la barra
            height: 100%;
            background-color: blue;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          }
        
          img {
            width: 100%;
            height: 100%;
          }
        }
    }
  }
  
  /* Pantallas muy pequeñas (hasta 480px) */
  @media (max-width: 768px) {
    .container {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      &__content_left{
        &__box{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
  
          h1 {
            font-size: 1rem;
          }
          p {
            font-size: 0.9rem;
          }
          button {
           
            img {
              width: 24px;
              height: 24px;
              margin-right: 8px;
            }
            span {
              font-size: 14px;
            }
          }
  

          div {
            width: 50%;
            height: 50px;
            img {
              width: 24px;
              height: 24px;
              margin-right: 8px;
            }
          }
        }
      }
      &__content_rigth {
          &::before {
            content: "";
            position: absolute;
            width: 40%; // Ajusta el grosor de la barra
            height: 100%;
            background-color: blue;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          }
        
          img {
            width: 100%;
            height: 100%;
          }
        }
    }
  }
  
  
  