.container {
    background-color: var(--header);
    color: var(--text-primary-black);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra gris difuminada */
  
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem;
  
  
      &__logo {
        font-size: 1.5em;
        font-weight: bold;
  
        img {
          width: 70px;
          height: 70px;
          object-fit: cover;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
        }
  
        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: auto;
          height: 40px;
          text-decoration: none;
          border-radius: 50%;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
        
          &:hover {
            background-color: var(--primary-color);
            color: white;
            transform: scale(1.1);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
          }
        
          &:active {
            transform: scale(0.95);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          }
          i {
            font-size: 1.2rem;
          }
        }
      }
  
      &__navbar {
        ul {
          list-style: none;
          display: flex;
          gap: 20px;
        }
  
        a {
          color: var(--text-primary-black);
          text-decoration: none;
          font-weight: 500;
        }
      }
  
      &__userOptions {
        display: flex; 
        gap: 15px; 

        a {
          text-decoration: none; // Quita el subrayado
          outline: none; // Elimina el contorno al hacer clic
          box-shadow: none; // Elimina cualquier sombr
        }
        
        button {
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          width: 100%;
          height: 50px;
          background-color: #ffffff;
          border-radius: 2rem;
          border: 1px  solid var(--background-light);;
          img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
          span {
            font-size: 14px;
          }
        }

        button:hover {
          background-color: var(--background-light);;
        }
      }
    }
  }
  